.bar {
   background-color: skyblue;
}
.main-card {
    width:100%
}
.now {
display: flex;
justify-content: center;
}
.insdate{
    left: 10%;
    top: -32px;
    position: relative;
}
/* .weektitle{
    border-bottom: 1%;
    border-style: groove;
} */
.cincoday{
    display: flex;
}
.daily{
    padding: 3%;
}
.split {
display: flex;
align-items: flex-start;
}
.subcards {
    display: flex;
    justify-content: center;
}
.subcity {
    padding-top: 5%;
}
.pastgoeshere{
    display: flex;
    justify-content: center;
    margin-top:2%;
    flex-wrap: wrap;
}
.btn-primary {
    color: #fff;
    background-color: lightseagreen;
    margin: .5%;
}